<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="" routerLinkActive="active">
    <div class="sidebar-brand-icon">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Profiles</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="" routerLinkActive="active">
      <i class="fas fa-fw fa-home"></i>
      <span> Home</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="" routerLinkActive="active">
      <i class="fas fa-fw fa-users"></i>
      <span>Users</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/about" routerLinkActive="active">
      <i class="fas fa-fw fa-building"></i>
      <span>About Us</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">
      <i class="fas fa-fw fa-phone"></i>
      <span>Contact Us</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

</ul>